[user]
	name = mm-git
	email = mmgithub@gmail.com
[core]
	autocelf = false
	quotepath = false
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = tracking
[color]
	ui = auto
[merge]
	ff = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
